@use "../../styles/partials/mixins" as *;

.collection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  background-color: black;
  color: white;

  &-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 80%;
  }

  &__img {
    width: 7rem;
    border-radius: 5rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 7rem;
  }

  &__name {
    font-size: 2.5rem;

    > p {
      font-weight: bold;

      &:hover {
        background-image: linear-gradient(
          45deg,
          rgba(105, 234, 203, 1),
          rgba(234, 204, 248, 1),
          rgba(102, 84, 241, 1)
        );
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
  }

  &__site {
    font-size: 1rem;
    text-decoration: none;
    background-color: #90cdf4;
    border-radius: 2px;
    padding: 0.2rem;

    > p {
      color: rgb(0, 0, 0);
      font-size: 0.8rem;
    }
  }

  &__social {
    font-size: 1rem;
    text-decoration: none;
    background-color: #90cdf4;
    padding: 0.2rem;
    border-radius: 2px;

    > p {
      color: rgb(0, 0, 0);
      font-size: 0.8rem;
    }
  }
}
