@use "../../styles/partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.collection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  background-color: $primary-color;
  color: white;

  &-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 85%;
  }

  &__img {
    width: 5rem;
    border-radius: 5rem;
    height: 5rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  &__name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    // width: 100%;
    font-size: 2.5rem;

    &-cta {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: rgba(white, 0.4);
    }

    > p {
      font-weight: bold;

      &:hover {
        background-image: linear-gradient(
          45deg,
          rgba(105, 234, 203, 1),
          rgba(234, 204, 248, 1),
          rgba(102, 84, 241, 1)
        );
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
      }
    }

    &-stats {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      font-size: 2.5rem;

      > img {
        width: 1.75rem;
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
  }

  &__site {
    font-size: 1rem;
    text-decoration: none;
    background-color: #90cdf429;
    border-radius: 2px;
    padding: 0.2rem;

    > p {
      color: #90cdf4;
      font-size: 0.8rem;
      padding: 0.1rem 0.3rem;
      padding-top: 0.2rem;
    }
  }

  &__social {
    font-size: 1rem;
    text-decoration: none;
    background-color: #90cdf429;
    padding: 0.2rem;
    border-radius: 2px;

    > p {
      color: #90cdf4;
      font-size: 0.8rem;
      padding: 0.1rem 0.3rem;
      padding-top: 0.2rem;
    }
  }
}
