@use "../../styles/partials/mixins" as *;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  background-color: #000000;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 2rem;

    &-header {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 5rem;
    }

    &-paragraph {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;  
        text-align: center;
        color: white;
        padding-bottom: 1rem;

    }
  }

  &__img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    &-link {
      width: 30%;
    }


    &-item {
      width: 100%;
      border-radius: .625rem;

      &:hover {
        transition-duration: 500ms;
        border: 10px solid black;
      }
    }
  }
}
