@use "../../styles/partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.collection-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: $secondary-color;
  border: 1px solid rgba(255, 255, 255, 0.16);
  padding: 0.65rem;
  margin: 0.75rem 0;
  height: 62.8px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    font-size: 0.875rem;
    gap: 1rem;

    > p {
      color: white;
    }
  }

  &__img {
    width: 2.5rem;
    border-radius: 5rem;
  }

  &:hover {
    background-color: $primary-color;
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 13ch;
  }
}
