@use "../../styles/partials/mixins" as *;

.collection-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #202020;
  border: 1px solid rgba(255, 255, 255, 0.16);
  padding: 0.65rem;
  margin: 0.75rem 0;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    font-size: 0.875rem;

    > p {
      color: white;
    }
  }

  &__img {
    width: 2.5rem;
    border-radius: 5rem;
  }

  &:hover {
    // transition-duration: 200ms;
    border: 2px solid black;
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 13ch;
  }
}
