@use "../../styles/partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.explainer-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(13, 13, 13);
    width: 25%;
    height: 5rem;
    padding: 2rem;
    text-align: center;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;

    > p {
      color: white;
    }
  }
}
