@font-face {
  font-family: "Consola";
  src: url("../../assets/fonts/CONSOLA.woff2") format("woff2"),
    url("../../assets/fonts/CONSOLA.woff") format("woff");

  font-weight: 400;
}

@font-face {
  font-family: "Consola Bold";
  src: url("../../assets/fonts/CONSOLAB.woff2") format("woff2"),
    url("../../assets/fonts/CONSOLAB.woff") format("woff");

  font-weight: 700;
}
