@use "../../styles/partials/mixins" as *;
@use "../../styles//partials/variables" as *;
.terminal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__other {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 85%;
    height: auto;

    &-lottie {
      width: 3.125rem;
      height: 3.125rem;
    }
    

    > button {
      border: none;
      background-color: #202020;
      color: white;
      padding: 0.3rem 0.8rem;
      cursor: pointer;
    }
  }

  &__holders {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    gap: 1rem;
  }

  &__tx {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 0rem;
    width: 85%;
    padding-bottom: 10rem;
  }

  &__charts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    gap: 1rem;

    > p {
      color: white;
      font-size: 24px;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    gap: 1rem;
    height: auto;
  }

  &__card {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      > p {
        font-size: 18px;
      }
    }

    &-sort {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      > p {
        background-color: #151515;
        padding: 0.3rem 0.5rem;
        font-size: 0.8rem;
        cursor: pointer;
      }
    }
  }
}

.blink_me {
  animation: blinker 1.5s linear infinite;
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid green;
  background-color: green;
  border-radius: 100%;
}
@keyframes blinker {
  50% {
    opacity: 0.6;
  }
}
