@use "../../styles/partials/mixins" as *;
@use "../../styles//partials/variables" as *;
.terminal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $primary-color;

  &__tx {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0rem;
    width: 80%;
    padding-bottom: 10rem;
  }

  &__charts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 1rem;
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    gap: 1rem;
    height: auto;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
}
