@use "../../styles/partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.hotmints {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  &__select {
    background-color: #202020;
    color: white;
    border-color: #131313;
    padding: 0.3rem 0.5rem;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
  }
}
