@use "../../styles/partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  width: 12.5rem;
  color: white;
  // border-top-left-radius: 1.25rem;
  // border-top-right-radius: 1.25rem;
  // border-bottom-left-radius: 1.25rem;
  // border-bottom-right-radius: 1.25rem;
  text-decoration: none;


  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    // height: 10.5rem;
    // max-height: 16.5625rem;
    // height: 16.5625rem;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
      // border-top-left-radius: 1.25rem;
      // border-top-right-radius: 1.25rem;

      width: 12.5rem;
      height: 12.5rem;
      // object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    gap: 0.8rem;
    width: 10.5rem;
    height: 10.5rem;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;

    > h1 {
      font-size: 1.2rem;
    }

    > p {
      font-size: 0.6rem;
    }
  }

  &__price {
    > h2 {
      font-size: 1rem;
    }
  }
}
