@use "../../styles/partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.listings-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 0.3rem;
  overflow: scroll;
  height: 51rem;
  
}