@use "../../styles/partials/mixins" as *;

.listings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    background-color: #202020;
    border-radius: 5px;
  }

  &__img {
    width: 4rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0.5rem;
  }

  &__stats {
    display: flex;
    justify-content: center;
    align-items: center;

    &-left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    &-id {
      > p {
        color: white;
        font-size: 0.875rem;
      }
    }

    &-rank {
      > p {
        color: gray;
        font-size: 0.875rem;
      }
    }

    &-right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    &-price {
      > p {
        color: white;
        font-size: 0.875rem;
      }
    }
    &-buy {
      > p {
        color: white;
        font-size: 0.875rem;
        border: 2px lightblue solid;
        padding: 0.65rem 1rem;
        border-radius: 7px;
      }
    }
  }
}
