@use "../../styles/partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #000000;
  border-top: 2px solid rgb(44, 82, 130);
  padding: 1.5rem 1rem;
  width: 100%;
  position: fixed;
  top: 93vh;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &-text {
      font-size: 1rem;
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      padding-left: 0.7rem;
    }

    &-currency {
      font-size: 0.7rem;
    }
  }

  &__market {
    font-size: 0.85rem;
  }

  &__popup {
    top: -7rem;
    right: 15rem;
    position: absolute;
    background-color: #202020;
    padding: 1rem;
    font-size: 0.8rem;
    filter: drop-shadow(5px 5px 33px #000);
  }
}

.blink_me {
  animation: blinker 2s linear infinite;
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid green;
  background-color: green;
  border-radius: 100%;
}
@keyframes blinker {
  50% {
    opacity: 0.6;
  }
}
