@use "../../styles/partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.floor-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;

  &__title {
    // font-size: ;
    color: white;
    font-size: 1rem;
    padding-top: 1rem;
  }

  &__floor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #131313;
    border: 1px solid rgba(255, 255, 255, 0.16);


    &-line {
      padding: 1rem;
    }
  }

  &__volume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 100%;
    background-color: #131313;
    border: 1px solid rgba(255, 255, 255, 0.16);
    

    &-bar {
      padding: 1rem;
    }
  }

}
