@use "../../styles/partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.doughnut {
    background-color: #131313;
    width: 60%;
    height: 100%;
    padding: 2rem;

    &__title {
        color: white;
        padding-bottom: 1.5rem;
    }
}