@use "../../styles/partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.doughnut {
    background-color: #131313;
    width: 98%;
    height: 100%;
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.16);

    &__title {
        color: white;
        padding-bottom: 1.5rem;
    }
}