@use "../../styles/partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.listings-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
//   height: 25rem;
  &__chart {
    width: 100%;
    background-color: $secondary-color;
  }
}
