@use "../../styles/partials/mixins" as *;

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;

    &__container {
        width: 100%;
    }
}