@use "../../styles/partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__pie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    padding: 2rem 0rem;
    gap:0.75rem;

    @include tablet {
      justify-content: space-between;
    }

    &-loading {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
    width: 80%;

    > button {
      border: none;
      background-color: #202020;
      color: white;
      padding: 0.3rem 0.8rem;
      cursor: pointer;
    }
  }

  &__activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
}
